{% extends "layout.html" %}
{% block content %}
<div class="container">

  <div class="row">

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <a href="{{ url_for('add_custom_transaction_for_admin_page', sandik_id=sandik.id) }}" class="btn btn-xs btn-success"><em class="glyphicon glyphicon-plus"></em></a>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ sandik.number_of_transactions }}</div>
              <div>Transactions</div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('transactions_page', sandik_id=sandik.id) }}">
          <div class="panel-footer">
            <span class="pull-left">View...</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-5">
                  <a href="#" class="dropdown-toggle btn btn-xs btn-info " data-toggle="dropdown"><em class="glyphicon glyphicon-plus"></em></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('add_member_to_sandik_page', sandik_id=sandik.id) }}">Member</a>
                    <li><a href="{{ url_for('add_share_to_member_page', sandik_id=sandik.id) }}">Share</a>
                  </ul>
                </div>
                <div class="col-xs-6">
                  <a href="#" class="dropdown-toggle btn btn-xs btn-info " data-toggle="dropdown"><em class="glyphicon glyphicon-pencil"></em></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('select_member_to_edit_page', sandik_id=sandik.id) }}">Member</a>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{ sandik.number_of_members }}</div>
              <div>Members</div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('members_page', sandik_id=sandik.id) }}">
          <div class="panel-footer">
            <span class="pull-left">View...</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <a href="{{ url_for('add_member_authority_type_to_sandik_page', sandik_id=sandik.id) }}" class="btn btn-xs btn-warning"><em class="glyphicon glyphicon-plus"></em></a>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">Numbers... </div>
              <div>Member Authority Types</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Manage...</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <a href="{{ url_for('add_debt_type_to_sandik_page', sandik_id=sandik.id) }}" class="btn btn-xs btn-danger"><em class="glyphicon glyphicon-plus"></em></a>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">Numbers...</div>
              <div>Debt Types</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Manage...</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <a href="{{ url_for('add_member_to_sandik_page', sandik_id=sandik.id) }}" class="btn btn-xs btn-primary"><em class="glyphicon glyphicon-plus"></em></a>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">Numbers...</div>
              <div>Members</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Manage...</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

  </div>

</div>
{% endblock %}