{% extends "layout.html" %}
{% block title %}{{ page_info.title }}{% endblock %}

{% block extra_head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sandik/members.css') }}"/>
    <script src="{{ url_for('static', filename='js/sandik/members.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <!-- Panel başlık satırı -->
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-4">
              <h3 class="panel-title">Yardımlaşma Sandığı</h3>
            </div>
            <div class="col col-xs-4 text-center">
              <span class="btn btn-sm btn-success" id="btn-passive">Pasif üyeler</span>
            </div>
            <div class="col col-xs-4 text-right">
              <a href="{{ url_for('add_member_to_sandik_page', sandik_id=sandik.sandik_id) }}" class="btn btn-sm btn-primary">Add New Member</a>
            </div>
          </div>
        </div>

        <!-- Panel gövdesi (tablo kısmı)-->
        <div class="panel-body">
          <table class="table table-striped table-list table-sandik-members">
            <thead>
              <tr>
                <th></th>
                <th class="hidden-xs">ID</th>
                <th>Username</th>
                <th>Name</th>
                <!--
                <th><em class="fa fa-cog"></em></th>
                -->
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              {% for member in sandik.members %}
              {% set transaction_page_url = url_for('transactions_page', sandik_id=sandik.sandik_id) + "?share=" + member.dbTable.webuser_ref.name + " " + member.dbTable.webuser_ref.surname %}
              <tr class="member {% if not member.is_active %}passive-member{% endif %}">
                <td align="center">
                  <a href="{{ transaction_page_url }}" class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
                </td>
                <td class="hidden-xs">{{ member.dbTable.member_id }}</td>
                <td>{{ member.dbTable.webuser_ref.username }}</td>
                <td>{{ member.dbTable.webuser_ref.name }} {{ member.dbTable.webuser_ref.surname }}</td>
                <!--
                <td align="center">
                  <a class="btn btn-default btn-xs"><em class="fa fa-pencil"></em></a>
                  <a class="btn btn-danger btn-xs"><em class="fa fa-trash"></em></a>
                </td>
                -->
              </tr>
              <tr class="share">
                <td colspan="6">
                  {% if member_authority %}
                  <div class="share-table-div">
                    <table class="table table-bordered table-sandik-shares">
                      <thead class="thead-dark">
                        <tr>
                          <th>Share ID</th>
                          <th>Paid contributions</th>
                          <th>Debts received</th>
                          <th>Paid installments</th>
                          <th>Others</th>
                          <th>Remaining debts</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for share in member.shares %}
                        {% set transaction_page_url = transaction_page_url + " - " + share.dbTable.share_order_of_member|string %}
                        <tr class="{% if not share.is_active %}passive-share{% endif %}">
                          <td>{{ share.dbTable.share_order_of_member }}</td>
                          <td>{{ share.paid_contributions }}</td>
                          <td>{{ share.debts_received }}</td>
                          <td>{{ share.paid_installments }}</td>
                          <td>{{ share.others }}</td>
                          <td style="color:red;">{{ share.remaining_debts }}</td>
                          <td align="center">
                            <a href="{{ transaction_page_url }}" class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
                          </td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <td>Toplam</td>
                          <td>{{ member.paid_contributions }}</td>
                          <td>{{ member.debts_received }}</td>
                          <td>{{ member.paid_installments }}</td>
                          <td>{{ member.others }}</td>
                          <td style="color:red;">{{ member.remaining_debts }}</td>
                          <td align="center">
                            <a class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="panel-footer">
          <!--
          <div class="row">
          -->
            <table class="table table-sandik-shares">
              <thead class="thead-dark">
              <tr>
                <th class="hidden"></th>
                <th>Paid contributions</th>
                <th>Debts received</th>
                <th>Paid installments</th>
                <th>Others</th>
                <th>Final Situation</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="hidden"></td>
                <td>{{ sandik.paid_contributions }}</td>
                <td>{{ sandik.debts_received }}</td>
                <td>{{ sandik.paid_installments }}</td>
                <td>{{ sandik.others }}</td>
                <td style="color:red;">{{ sandik.total }}</td>
              </tr>
              </tbody>
            </table>
            <!--
            <div class="col col-xs-4">Page 1 of 5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">»</a></li>
              </ul>
            </div>
            -->
          <!--
          </div>
          -->
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}