{% extends "layout.html" %}

{% block extra_head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='js/webuser/profile.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/webuser/profile.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sandik/members.css') }}"/>
    <script src="{{ url_for('static', filename='js/sandik/members.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">

        <!-- Panel başlık satırı -->
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">{{translation['profile']['my_accounts']}}</h3>
            </div>
            <div class="col col-xs-6 text-right"><span class="btn btn-sm btn-success" id="btn-passive">{{translation['profile']['my_passive_shares']}}</span></div>
          </div>
        </div>

        <!-- Panel gövdesi (tablo kısmı)-->
        <div class="panel-body table-responsive">
          <table class="table table-striped table-list table-members ">
            <thead>
            <tr>
              <th></th>
<!--              <th>{{translation['profile']['sandik_id']}}</th>-->
              <th>{{translation['profile']['sandik_name']}}</th>
              <th>{{translation['profile']['sandik_unpaid']}}</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            {% for member in members %}
            {% set transaction_page_url = url_for('member_transactions_in_sandik_page', sandik_id=member.dbTable.sandik_ref.id) %}
            <tr class="member-row">
              <td align="center">
                <a href="{{ transaction_page_url }}" class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
              </td>
<!--              <td>{{member.dbTable.sandik_ref.id}}</td>-->
              <td>{{member.dbTable.sandik_ref.name}}</td>
              <td><a href="{{ url_for('unpaid_transactions_of_member_page', sandik_id=member.dbTable.sandik_ref.id) }}">{{translation['profile']['sandik_unpaid']}}</a></td>
            </tr>
            <tr class="share-row">
              <td colspan="3">
                <div class="share-table-div">
                  <table class="table table-bordered table-shares">
                    <thead class="thead-dark">
                    <tr>
                      <th>{{translation['profile']['share_id']}}</th>
                      <th>{{translation['profile'].paid_contributions}}</th>
                      <th>{{translation['profile'].debt_received}}</th>
                      <th>{{translation['profile'].paid_installments}}</th>
                      <th>{{translation['profile'].others}}</th>
                      <th>{{translation['profile'].remaining_debt}}</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for share in member.shares %}
                    {% set transaction_page_url = transaction_page_url + "?share=" + member.dbTable.webuser_ref.name + " " + member.dbTable.webuser_ref.surname + " - " + share.dbTable.share_order_of_member|string %}
                    <tr class="{% if not share.is_active %}passive-share{% endif %}">
                      <td>{{ share.dbTable.share_order_of_member }}</td>
                      <td>{{ share.paid_contributions }}</td>
                      <td>{{ share.debts_received }}</td>
                      <td>{{ share.paid_installments }}</td>
                      <td>{{ share.others }}</td>
                      <td style="color:red;">{{ share.remaining_debts }}</td>
                      <td align="center">
                        <a href="{{ transaction_page_url }}" class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td>Toplam</td>
                      <td>{{ member.paid_contributions }}</td>
                      <td>{{ member.debts_received }}</td>
                      <td>{{ member.paid_installments }}</td>
                      <td>{{ member.others }}</td>
                      <td style="color:red;">{{ member.remaining_debts }}</td>
                      <td align="center">
                        <a class="btn btn-primary btn-xs"><em class="fa fa-search"></em></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Panel footer satırı -->
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-12">
              <h5>Footer</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}