{% extends "layout.html" %}

{% block extra_head %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="{{ url_for('static', filename='js/general.js') }}"></script>
    <script type="text/javascript">
      {% if selected_dict and selected_ids %}
      var selected_dict = {{selected_dict|safe}};
      var selected_ids = {{selected_ids|safe}};

      function selectDefaultValues() {
        var selectField;
        var option;
        for (i = 0; i < selected_ids.length; i++){
          selectField = document.getElementById(selected_ids[i]);
          option = getSelectOption(selectField, selected_dict[selected_ids[i]] );
          option.setAttribute("selected","");
        }
      }

      window.onload = selectDefaultValues;
      {% endif %}

      {% if request.endpoint == "fast_pay_page" %}
        $(function() {
            alert(  "Hızlı öde sayfası üyenin siteye girdikten sonra aidat ve taksitler için tek tek işlem eklemesine gerek kalmadan tek seferde hepsinin işlemini ekleyebilmesi için hazırlandı.\n" +
                    "\n" +
                    "Hızlı ödeme sayfasında sadece Tarih, İşlem Miktarı ve Açıklama kısımları bulunmaktadır. \n" +
                    "- Üye miktarı girecek. Sistem de her hissenin aidatları ve taksitleri için işlemler oluşturacak ve üyenin onayına sunacak.\n" +
                    "- Üye işlemleri onayladığı takdirde işlemler eklenmiş olacak. Üye otomatik oluşturulan işlemi kabul etmezse silebilecek.\n" +
                    "- Eğer girilen miktar, üyenin o ayki ödemesi gereken miktardan fazla ise kalan miktar Diğer'e eklenecek.\n" +
                    "\n" +
                    "NOT: Üyenin işlemi mutlaka onaylaması gerekmektedir. Onaylama işlemi işlemi ekledikten sonra açılan sayfadaki yeşil tik işaretine basıldığında tamamlanır. Onaylanan işlemin tik işareti kalkar."
            );
        });
      {% endif %}
    </script>
{% endblock %}

{% block content %}
<div class="container sandik-form">
  <h2 class="sandik-title-form">{{ info.title }}</h2>

  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }}" role="alert">
      {{ message }}
  </div>
  {% endfor %}

  {% if info.errors %}
  <div class="alert alert-danger sandik-alert-list" role="alert">
    <ul>
      {% for error in info.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ info.form.open|safe }}
    {{ info.form.csrf_token }}
    {% for field in info.form %}
    {% if field.type in ["SubmitField"] %}
    <div class="form-group sandik-form-btn-group">
      {{ field }}
    </div>
    {% else %}
    <div class="form-group sandik-form-group">
      {{ field.label }}
      {{ field }}
    </div>
    {% endif %}
    {% endfor %}
  {{ info.form.close|safe }} <!-- return """</form>""" -->
</div>
{% endblock %}