<!DOCTYPE html>
{% set translation = layout_page.translation %}
<html lang="en">
  <head>
    <script type="text/javascript">
      const timerStart2 = Date.now();
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ layout_page.title }} - Yardımlaşma Sandığı</title>
    <link rel="Shortcut Icon"  href="{{ url_for('static', filename='img/sandik_white3.png') }}"  type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sandik.css') }}"/>

    <!-- dropdown-submenu CSS/JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown-submenu.css') }}"/>
    <script src="{{ url_for('static', filename='js/dropdown-submenu.js') }}"></script>

    <!-- block extra_head -->
    {% block extra_head %}{% endblock %}
    <!-- finish -->
  </head>

<body>
    <header>
      <!-- NAVBAR -->
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home_page') }}">Sandık</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--            <ul class="nav navbar-nav">-->
<!--              <li><a href="#">xxx</a></li>-->
<!--              <li class="dropdown">-->
<!--                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">xxxx<span class="caret"></span></a>-->
<!--                <ul class="dropdown-menu">-->
<!--                  <li><a href="#">xxxx</a></li>-->
<!--                  <li role="separator" class="divider"></li>-->
<!--                  <li><a href="#">xxxx</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->


            <ul class="nav navbar-nav navbar-right">
              {% if not current_user.is_authenticated %}
              <li><a href="{{ url_for('login_page') }}">{{translation['layout']['navbar']['login']}}</a></li>
              <li><a href="{{ url_for('signup_page') }}">{{translation['layout']['navbar']['signup']}}</a></li>
              {% elif current_user.is_admin %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{translation['layout']['navbar']['admin_panel']}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Books</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Products</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">{{ current_user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">xxx</a></li>
                  <li><a href="#">xxx</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('logout') }}">{{translation['layout']['navbar']['logout']}}</a></li>
              {% else %}
              <li class="dropdown">
                {% if layout_page.my_sandiks|length > 1 %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{translation['layout']['navbar']['my_sandiks']}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% endif %}
                  {% for sandik in layout_page.my_sandiks %}
                  {% if layout_page.my_sandiks|length > 1 %}
                  <li class="dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ sandik['name'] }}</a>
                  {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ sandik['name'] }}<span class="caret"></span></a>
                  {% endif %}
                    <ul class="dropdown-menu">
                      {% if sandik['is_there_authorizations'] %}
                      <li><a href="{{ url_for('sandik_management_page', sandik_id=sandik['id']) }}"><b>{{translation.layout.navbar.management_panel}}</b></a></li>
                      {% endif %}
                      <li class="dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ translation['layout']['navbar']['add_transaction']['init'] }}</b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('add_contribution_page', sandik_id=sandik['id']) }}">&nbsp;&nbsp;- {{translation['layout']['navbar']['add_transaction']['contribution']}}</a></li>
                          <li><a href="{{ url_for('add_debt_page', sandik_id=sandik['id']) }}">&nbsp;&nbsp;- {{translation['layout']['navbar']['add_transaction']['debt']}}</a></li>
                          <li><a href="{{ url_for('add_payment_page', sandik_id=sandik['id']) }}">&nbsp;&nbsp;- {{translation['layout']['navbar']['add_transaction']['payment']}}</a></li>
                          <li><a href="{{ url_for('add_transaction_page', sandik_id=sandik['id']) }}">&nbsp;&nbsp;- {{translation['layout']['navbar']['add_transaction']['other']}}</a></li>
                        </ul>
                      </li>
                      <li><a href="{{ url_for('member_transactions_in_sandik_page', sandik_id=sandik['id']) }}">{{translation.layout.navbar.my_transactions}}</a></li>
                      <li><a href="{{ url_for('unpaid_transactions_of_member_page', sandik_id=sandik['id']) }}">{{translation.layout.navbar.unpaid}}</a></li>
                      <li><a href="{{ url_for('members_page', sandik_id=sandik['id']) }}">{{translation.layout.navbar.members}}</a></li>
                      <li><a href="{{ url_for('members_page', sandik_id=sandik['id']) }}#son-mali-durum">{{translation.layout.navbar.final_situation}}</a></li>
                    </ul>
                  </li>
                  <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">{{ sandik_name }}<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="{{ url_for('members_page', sandik_id=sandik['id']) }}">Üyeler</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  {% endfor %}
                {% if layout_page.my_sandiks|length > 1 %}
                </ul>
                {% endif %}
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">{{ current_user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('profile') }}">{{translation['layout']['navbar']['profile']}}</a></li>
                  <li><a href="{{ url_for('edit_webuser_info_page') }}">{{translation['layout']['navbar']['update_profile']}}</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('logout') }}">{{translation['layout']['navbar']['logout']}}</a></li>
              {% endif %}
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>


    {% if not info or (info and not info.form) %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="container alert alert-{{ category }}" role="alert">
              {{ message }}
          </div>
    {% endfor %}
    {% endif %}

    <!-- block content -->
    {% block content %}{% endblock %}
    <!-- finish -->

    <footer class="footer sandik-footer">
      <div class="container">
        <small class="text-muted">&copy; Yardımlaşma Sandığı, 2018</small>
      </div>
    </footer>
    <script type="text/javascript">
       $(document).ready(function() {
          console.log("Time until DOMready: ", Date.now()-timerStart2);
       });
       $(window).load(function() {
          console.log("Time until everything loaded: ", Date.now()-timerStart2);
       });
    </script>
  </body>
</html>