{% extends "layout.html" %}

{% block content %}
    <div class="container text-center">
        <div class="row mb-1">
            <div class="col">
                <a id="crn_doldur" class="btn btn-primary" href='javascript: (function(){var link = document.createElement("A");  link.href = document.getElementById("vjs_video_3_html5_api").src; link.text = "%C4%B0ndirmek i%C3%A7in sa%C4%9F t%C4%B1klayarak farkl%C4%B1 kaydet deyiniz..."; var sec = document.getElementsByClassName("main")[0]; sec.insertBefore(link, sec.childNodes[0]);  })();'>Zoom Video İndir</a>
<!--                <a id="crn_doldur" class="btn btn-default" href='javascript: (function(){var link = document.createElement("A");  link.href = document.getElementById("vjs_video_3_html5_api").src; link.text = "%C4%B0ndirmek i%C3%A7in sa%C4%9F t%C4%B1klayarak farkl%C4%B1 kaydet deyiniz..."; var sec = document.getElementsByClassName("main")[0]; sec.insertBefore(link, sec.childNodes[0]);  })();'></a>-->
            </div>
        </div>

    </div>
{% endblock %}