{% extends "form.html" %}

{% block extra_head %}
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script src="{{ url_for('static', filename='js/transaction/contribution.js') }}"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
var periods_of = {{periods_of|safe}};
var all_periods_of = {{all_periods_of|safe}};

function ChangeAmount() {
  cp = document.getElementById("contribution_period");
  amount = document.getElementById("amount");
  amount.value = {{contribution_amount}}*GetSelectValues(cp).length;
}
$(function () {
  var cp = document.getElementById("contribution_period")
  cp.onchange = ChangeAmount;
});
</script>
{% endblock %}

