{% extends "form.html" %}

{% block extra_head %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
var periodsDict = {{periodsDict|safe}};
var oldPeriodsDict = {{oldPeriodsDict|safe}};

function ChangeList() {
  var shareList = document.getElementById("share");
  var periodList = document.getElementById("contribution_period");
  var selectedShare = shareList.options[shareList.selectedIndex].value;
  while (periodList.options.length) {
    periodList.remove(0);
  }

  var is_there_old = document.getElementById("is_there_old");
  var periods;
  if(is_there_old.checked == true) {
    periods = oldPeriodsDict[selectedShare];
  } else {
    periods = periodsDict[selectedShare];
  }
  if (periods) {
    var i;
    for (i = 0; i < periods.length; i++) {
      var period = new Option(periods[i][1], periods[i][0]);
      periodList.options.add(period);
    }
  }
}

function SetOnchange() {
  var b = document.getElementById("share")
  b.setAttribute("onchange", "ChangeList()");
}

function createHtmlElement(htmlStr) {
  var frag = document.createDocumentFragment(),
      temp = document.createElement('div');
  temp.innerHTML = htmlStr;
  while (temp.firstChild) {
      frag.appendChild(temp.firstChild);
  }
  return frag;
}

function ChangeToMultiplePeriod() {
  var checkBox = document.getElementById("is_multiple_period");
  if (checkBox.checked == true){
    document.getElementById('contribution_period').setAttribute("multiple","");
  }
  else {
    document.getElementById('contribution_period').removeAttribute("multiple","");
  }
}

function AddCheckBox() {
  var check_boxes = createHtmlElement('<p style="text-align: center;">Old contribution: <input type="checkbox" id="is_there_old" onclick="ChangeList()"><br>Multiple contribution: <input type="checkbox" id="is_multiple_period" onclick="ChangeToMultiplePeriod()"></p>');

  var cp_select = document.getElementById('contribution_period');
  cp_select.parentNode.insertBefore(check_boxes, cp_select.nextSibling);
}

function Onload() {
  document.getElementById('contribution_period').removeAttribute("multiple","");
  AddCheckBox();
  SetOnchange();
  ChangeList();
}

window.onload = Onload;

</script>
{% endblock %}

