{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script src="{{ url_for('static', filename='js/transaction/contribution.js') }}"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
var shares_of = {{shares_of|safe}};
var debts_of = {{debts_of|safe}};
var periods_of = {{periods_of|safe}};
var all_periods_of = {{all_periods_of|safe}};

function ChangeAmount() {
  cp = document.getElementById("contribution_period");
  amount = document.getElementById("amount");
  amount.value = {{contribution_amount}}*GetSelectValues(cp).length;
}

$(function () {
  var cp = document.getElementById("contribution_period")
  cp.onchange = ChangeAmount;
});

function ChangeShareSelectList() {
  var shareSelects = document.getElementsByName("share");

  var memberSelect = document.getElementById("member");
  var memberId = memberSelect.options[memberSelect.selectedIndex].value;
  var shareList = shares_of[memberId];

  for (var i = shareSelects.length - 1; i >= 0; i--) {
    ChangeSelectList(shareSelects[i], shareList, "Hisse yok...");
  }
}


function ChangeDebtSelectList() {
  var debtSelect = document.getElementById("debt");

  var memberSelect = document.getElementById("member");
  var memberId = memberSelect.options[memberSelect.selectedIndex].value;
  var debtList = debts_of[memberId];

  ChangeSelectList(debtSelect, debtList, "Ödenmemiş borcunuz yok...");
}


function ChangeFormByType(){
  var typeSelect = document.getElementById("type");
  var selectedType = typeSelect.options[typeSelect.selectedIndex].value;
  var selectedForm = document.getElementsByName(selectedType)[0];

  for (i = 0; i < typeSelect.length; i++) {
    if(i==typeSelect.selectedIndex){
      document.getElementsByName(typeSelect[i].value+"-form")[0].removeAttribute("hidden","")
    }
    else{
      document.getElementsByName(typeSelect[i].value+"-form")[0].setAttribute("hidden","")
    }
  }
}


function SetOnchange(){
  var a = document.getElementById("member");
  a.setAttribute("onchange", "ChangeShareSelectList(), ChangeDebtSelectList(), ChangeContPeriodSelectList()");

  var c = document.getElementById("type");
  c.setAttribute("onchange", "ChangeFormByType()");
}


function Onload() {
  SetOnchange();

  ChangeShareSelectList();
  ChangeDebtSelectList();
  ChangeFormByType();
}

window.onload = Onload;
</script>
{% endblock %}


{% block content %}
<div class="container sandik-form">
  <h2 class="sandik-title-form">{{ title }}</h2>

  {% if errors %}
  <div class="alert alert-danger sandik-alert-list" role="alert">
    <ul>
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  {% for form in forms %}
  {{ form.open|safe }}
    {{ form.csrf_token }}
    {% for field in form %}
    {% if field.type in ["SubmitField"] %}
    <div class="form-group sandik-form-btn-group">
      {{ field }}
    </div>
    {% else %}
    <div class="form-group sandik-form-group">
      {{ field.label }}
      {{ field }}
    </div>
    {% endif %}
    {% endfor %}
  {{ form.close|safe }} <!-- return """</form>""" -->
  {% endfor %}

</div>

{% endblock %}